<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
    http://www.springframework.org/schema/beans/spring-beans.xsd      
    http://www.springframework.org/schema/context      
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd      
    http://www.springframework.org/schema/mvc      
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    
    <!-- 如下指定外置路径 -->
	<context:property-placeholder location="classpath:setting.properties"/>
	
	<!-- 包扫描 -->
	<context:component-scan base-package="mang.tools.ftp"/>
	
	<import resource="applicationContext-bean-mang-ftp.xml"/>

</beans>
